.mainWrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
}

.contentHolder{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

.tripWrapper{
    display: flex;
    gap: 10px;
    min-width: 930px;
    margin-top: 30px;
}

.paginationBtn{

}

.tripsList{
    display: flex;
    gap: 20px;
}

.tripsListItem{
    border: 1px solid transparent;
    cursor: pointer;
    transition-property: border;
    transition-duration: 350ms;
}
.tripsListItem:hover,
.tripsListItem:focus,
.tripsListItem:active {
border: 1px solid #1890ff;
}

.addTrip {
    width: 180px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #e8ebf1d0;
    cursor: pointer;
}

.itemThumb{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 15px;
}

.tripDates{
    font-size: 12px;
    color: rgb(135, 135, 142);
}