.mainWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
}

.contentHolder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
}

.tripWrapper {
  display: flex;
  gap: 10px;
  min-width: 820px;
  margin: 30px 0;
}

.disabledBtn{
  cursor: not-allowed;
}

.tripsList {
  display: flex;
  gap: 20px;
}

.tripsListItem {
  border: 1px solid #e1dcdc74;
  cursor: pointer;
  transition-property: border;
  transition-duration: 350ms;
}
.tripsListItem:hover,
.tripsListItem:focus {
  border: 1px solid #708eaac9;
}

.activeTrip {
  border: 1px solid #1890ff;
}

.addTrip {
  width: 170px;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: #e8ebf1d0;
  cursor: pointer;
}

.itemThumb {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 12px;
  font-size: 12px;
  font-weight: 500;
}

.tripDates {
  font-size: 10px;
  font-weight: normal;
  color: rgb(135, 135, 142);
}
